body {
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    background-color: blue;
    background-image: linear-gradient(to right, rgb(136, 136, 170), darkblue);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

#citySearch {
    background-color: rgb(172, 187, 238);
    color: white;
    display: block;
    width: 100%;
}

.historyBtn {
    background-color: lightgray;
    display: block;
    width: 100%;
   font-weight: bolder;
   font-size: 15px;
    text-align: center;
}

#currentCondition {
    border-style: solid;
    border-width: thin;
    margin-top: auto;
    font-weight: bold;
}

#cityDate {
    background-color: tomato;
    vertical-align: middle;
    margin-top: 0;
}

.iconStyle {
    margin-top: 0;
    background-color: pink;
    vertical-align: middle;
}
#futureConditions {
    display: flex;
}